*{
    box-sizing: border-box;
}

/* html,body{
    width:100%;
    height: 100%;
} */

body{
    margin: auto;
     /* border: 2px solid #ff0000; */
     background-color: #c0c0c0;
     max-width: 1000px;
     font-family: 'Roboto', sans-serif;
}
/* #bigContainer{
    margin:0 ;
} */
#background_img{
     background-color: #fff;
        background-image: url(./img/bat_cover.jpg);
        height:350px;
        padding-top: 50px;
        color:#fff;
        margin-top:25px;
}
#contentInBackgroundimgContainer{
      background-color: rgba(0,0,0,0.7);
     margin-top:50px;
    max-width: 500px;
    padding:30px 20px;
}
/* h3{
  text-transform: uppercase;
} */
u{
     color:rgb(89, 16, 224);
     font-weight: bolder;
     text-decoration: none;
}
#container{
    /* border:2px solid red; */
    width: 100%;
    overflow: hidden;
}
.box{
    width: 50%;
    float:left;
    /* border:1px solid; */
}
.clear{
    clear:both;
}

/*************************** Above is the end of id "container" *******************/

/* ********************Begining of Secret Identity styling ****************** */
p{
    text-align: justify;
   padding:15px;
     /* margin-left: 20px; */
}
#identity img{
    float: left;
    margin-left: 20px;
    margin-right:10px ;
    /* width:150px; */
    
}
/* ****************starting of movies on Batmant ****************** */
h1{
       margin-left:40px;
}
.MoviesName{
   float: left;
   background-color: #ffff;
   border:2px solid ;
   text-align: center;
   color:#666;
   padding:10px;
   margin:10px 40px 10px 40px;;
}
.MoviesName img{
    width: auto;
}
@media (min-width:970px){
    #movies{
        display: flex;
        margin:auto;
    }
    .clear{
        clear:both;
    }
}

/* *********************** Starting to styling a table of id "villain" ********************/
h2{
    text-align: left;
}
.heading{
  column-span: 3;
}  

table{
    margin-top:30px;
    /* border:2px solid; */
      margin: auto;
      border-collapse: collapse;
}
th{
    background-color: darkgray;
    /* border: 1px solid; */
}

tr, td{
    /* border:1px solid; */
    padding: 9px;
    text-align: center;
    
}

/* *********************Creating a Navigation Bar **************************************/
#navbar{
    background-color: #fff;
    /* position: static;; */
    /* top:0;/ */
}
.float_content_right{
    float:right;
}
.float_content_right a{
    text-decoration: none;
    padding: 15px;
}
#navbar a{
    float: left;
    background-color: #fff;
}
#navbar li{
list-style-type: none;
display: inline-block;
}

.float_content_right a:hover{
    background-color: #f08080 !important;
    transform: translateX(2px);
}
